{% extends "common_base.html" %}
{% block content %}
<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="row">
      <div style="margin-left: 300px;" class="col-md-6">
        <div class="form_container" style="border: 0.2px solid #ddd; padding: 40px; border-radius: 2em;">
          <div class="heading_container">
            <h2>
              Restaurant Registration
            </h2>
          </div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              <input type="text" class="form-control" name="owner_name" placeholder="Owner Name" />
            </div>
            <div>
              <input type="text" class="form-control" name="restaurant_name" placeholder="Your Restaurant Name" />
            </div>
            <div>
              <input type="text" class="form-control" name="location" placeholder="Branch Location " />
            </div>
            <div>
              <input type="text" class="form-control" name="map_link" placeholder="Google Map link" />
            </div>
            <div>
              <input type="number" class="form-control" name="contact" placeholder="Contact Number(Restaurant's or Owner's)" />
            </div>
            <div>
              <input type="email" class="form-control" name="email" placeholder="Your Restaurant Email (Restaurant's or Owner's)" />
            </div>
            <div>
              <input type="password" class="form-control" name="password" placeholder="Your Password" />
            </div>
            <label>Opening Time</label>
            <div>
              <input type="time" class="form-control" name="opening_time" placeholder="Your Password" />
            </div>
            <label>Closing Time</label>
            <div>
              <input type="time" class="form-control" name="closing_time" placeholder="Your Password" />
            </div>
            <label>Restaurant Licence</label>
            <div>
              <input type="file" class="form-control" name="restaurant_license" placeholder="Your Restaurant Licence" />
            </div>
            <label>Id Proof Owners(any)</label>
            <div>
              <input type="file" class="form-control" name="id_proof" placeholder="Owners Id Proof (any)" />
            </div>
            <label>Restaurant Image</label>
            <div>
              <input type="file" class="form-control" name="r_image" placeholder="Restaurant Image" />
            </div>
            <label>Restaurant Kitchen Image</label>
            <div>
              <input type="file" class="form-control" name="rk_image"  />
            </div>
            <div style="margin-left: 150px;" class="btn_box">
              <button type="submit">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

{% if messages %}
{% for m in messages %}
<script>alert("{{m}}")</script>
{% endfor %}
{% endif %}

{% endblock %}
